#navBar {
	z-index: 65535;
	position: sticky;
	top: 0;
	background-color: #212121;
	overflow: hidden;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#navBar a {
	transition: color 0.2s;
	outline: none;
	float: left;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.9rem;
	font-size: 1.2em;
	line-height: 2.2rem;
}

#navBar-left {
	padding: 0 0.9rem 0 0.9rem;
	height: 4em;
	float: left;
}

#navBar-left a {
	font-size: 2rem;
	font-weight: 300;
}

#menu-button {
	display: none;
}

#navBar-right a {
	transition: color 0.2s;
	float: left;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.9rem;
	font-size: 1.2em;
	line-height: 2.2rem;
}

#navBar-right a:after {
	transition: width 0.1s, margin-left 0.1s, background 0.2s;
	content: "";
	float: left;
	background: white;
	border-radius: 0.2rem;
	width: 0%;
	height: 0.1rem;
	margin-top: -0.2rem;
	margin-left: 50%;
}

#navBar-right a:hover:after {
	width: 100%;
	margin-left: 0%;
}

#navBar-right {
	padding: 0 0.9rem 0 0.9rem;
	display: flex;
	float: right;
}

#navBar-right > #navBar-highlighted {
	color: rgb(80,160,240);
}

#navBar-right > #navBar-highlighted:after { background: rgb(80,160,240); }

@media screen and (max-width: 50em) {
	/* Header/Navigation Bar */
	#navBar > .logo > img {
		display: block;
	}

	#navBar > .logo {
		width: auto;
		display: inline-block;
	}

	#menu-button {
		/* undo defaults */
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;

		background-color: rgba(0,0,0,0);
		border: none;
		margin: 0;
		box-sizing: content-box;
		display: block;
		width: 4em;
		height: 4em;
		float: right;
	}

	#menu-button:hover {
		background-color: #414141FF;
	}

	#navBar {
		text-align: left;
	}

	#navBar-right {
		display: none;
		width: 100%;
		float: left;
		flex-direction: column;
	}

	#navBar-right a {
		text-align: left;
	}
}
