#navBar {
	font-family: Montserrat;
	z-index: 65535;
	position: sticky;
	top: 0;
	height: 3em;
	transition: height 0.2s;
	background-color: #121212;
	padding: 1em;
	border-bottom: 0.125em #c0c0c0 solid;
	overflow: hidden;
}

#navBar a {
	text-decoration: none;
	text-align: center;
}

#navBar-left {
	float: left;
	max-width: 60%;
	height: 3em;
	overflow: hidden;
}

#navBar-left a {
	color: white;
	padding: 0 0.5em;
	line-height: 1.5em;
	font-size: 2em;
	font-weight: 300;
}

#menu-button {
	display: none;
}

#navBar-right {
	padding: 0.5em;
	display: flex;
	float: right;
}

#navBar-right a {
	transition: color 0.2s;
	color: white;
	padding: 0 0.75em;
	line-height: 2em;
	height: 2em;
}

#navBar-right a:after {
	content: "";
	transition: width 0.1s, margin-left 0.1s, background 0.2s;
	float: left;
	background: white;
	border-radius: 0.2em;
	width: 0%;
	height: 0.125em;
	margin-top: -0.25em;
	margin-left: 50%;
}

#navBar-right a:hover:after {
	width: 100%;
	margin-left: 0%;
}


#navBar-right > #navBar-highlighted {
	color: rgb(80,160,240);
}

#navBar-right > #navBar-highlighted:after { background-color: rgb(80,160,240); }

@media screen and (max-width: 1000px) {
	#menu-button {
		/* undo defaults */
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;

		background-color: rgba(0,0,0,0);
		margin: 0;
		display: block;
		height: 3em;
		float: right;
	}

	#menu-button:hover, #menu-button:focus {
		filter: brightness(130%) drop-shadow(1px 2px 3px black);
	}

	#navBar.expanded {
		height: 6em;
	}

	#navBar.expanded > #navBar-right{
		display: flex;
		margin-right: 100%;
	}

	#navBar-right {
		display: none;
		float: left;
	}

	#navBar-right a {
		text-align: left;
	}
}

@media screen and (max-width: 400px) {
	#navBar-right::before {
		content: "";
		height: 0.1em;
		width: 100%;
		background-color: #333333;
	}

	#navBar-right {
		box-sizing: border-box;
		flex-flow: column;
		margin: 0;
		width: 100%;
	}

	#navBar.expanded {
		height: auto;
	}

	#navBar-right :first-child {
		margin-top: 1em;
	}

	#navBar-right a {
		box-sizing: border-box;
		width: 100%;
	}
}
