#header {
	overflow: hidden;
	padding: 0;
	position: relative;
	top: 0;

	width: 100%;
	height: 100vh;
	height: calc(var("--vh", 1vh) * 100);
	margin: 0;

	text-align: center;
}

#header > #header-image {
	float: left;
	position: relative;
	z-index: -1;
	width: 100%;
	height: 100%;

	background-image: url(Vkav.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#header > #header-text {
	float: left;
	width: 100%;
	margin: auto;

	position: relative;
	z-index: -1;
	top: -50%;
	transform: translateY(-50%);

	font-weight: lighter;
	font-size: 10em;

	color: white;
}

#header > #header-navigate {
	position: absolute;
	width: 3rem;
	height: 3rem;

	top: 100%;
	left: 50%;
	transform: translate(-50%, -100%);
}

#header > #header-navigate > svg {
	width: 3rem;
	height: 3rem;
}
