/* Header/Navigation bar */

.navBar {
	position: sticky;
	top: 0;
	background-color: #212121;
	overflow: hidden;
	width: 100%;
	padding: 0;
}

#menu-button {
	display: none;
}

#navBar-right a {
	float: left;
	color: white;
	text-decoration: none;
	text-align: center;
	padding: 0.9rem;
	font-size: 1.2em;
	line-height: 2.2rem;
}

.navBar a.logo {
	height: 4em;
}

.navBar > a {
	float: left;
	display: inline-block;
}

#navBar-right a:hover {
	background-color: #424242;
}

#navBar-right {
	display: flex;
	float: right;
}

@media screen and (max-width: 45em) {
	/* Header/Navigation Bar */
	.navBar > .logo > img {
		display: block;
	}

	.navBar > .logo {
		width: auto;
		display: inline-block;
	}

	#menu-button {
		/* undo defaults */
		border: none;
		padding: 0;
		font: inherit;
		cursor: pointer;
		outline: inherit;

		background-color: rgba(0,0,0,0);
		border: none;
		margin: 0;
		box-sizing: content-box;
		display: block;
		width: 4em;
		height: 4em;
		float: right;
	}

	#menu-button:hover {
		background-color: #414141FF;
	}

	.navBar {
		text-align: left;
	}

	#navBar-right {
		width: 100%;
		float: left;
		flex-direction: column;
	}

	#navBar-right a {
		text-align: left;
	}
}
