body {
	font-family: montserrat;
}

#toggle-theme {
	position: fixed;
	right: 2em;
	bottom: 1em;
	width: 4em;
	height: 4em;
	padding: 0;
	margin: 0;
	border: none;
	z-index: 1;
	background-color: transparent;
}

#toggle-theme:hover {
	cursor: pointer;
}

.page {
	display: none;
	position: absolute;
	left: max(20vw, 15em);
	top: 0;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
}

.page.displayed {
	display: block;
}

#home {
	height: 100%;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

#home.displayed {
	display: flex;
}

#home-text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;
	margin-bottom: 4em;
}

#home-text > h1 {
	margin-left: 0.5em;
	margin-right: 2em;
}

#home-text > p {
	max-width: 20em;
}



#projects > h1 {
	font-weight: 300;
	text-align: center;
}

#projects > hr {
	width: 50%;
	height: 0.25em;
	margin-bottom: 2em;
	border: none;
	background-color: #333333;
}

.project-list > .project-card {
	display: flex;
	flex-flow: row nowrap;
	overflow: hidden;
	width: 100%;
	height: 15em;
}

.project-card > .project-image {
	margin: 0;
	position: absolute;
	overflow: hidden;
	height: 15em;
	left: 0;
	right: 0;
}

.project-card > .project-image > p {
	transition: opacity 0.5s;
	text-decoration: none;
	opacity: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 15em;
	text-align: center;
	margin: 0;
	color: #ffffffa0;
}

.project-card > .project-image:hover > p {
	opacity: 100%;
}

.project-card > .project-image:focus {
	outline: none;
}

.project-card > .project-image:focus > p {
	opacity: 100%;
}

.project-card:nth-child(2n+1) > .project-image > p {
	left: 0;
	right: 33.3%;
}

.project-card:nth-child(2n) > .project-image > p {
	left: 33.3%;
	right: 0;
}

.project-card > .project-image > div {
	position: absolute;
	top: 50%;
	height: 25em;
	width: 35em;
}

.project-card:nth-child(2n+1) > .project-image > div {
    transform: translate(50%, -50%) rotateZ(-60deg);
    transition: right 0.5s;
}

.project-card:nth-child(2n+1) > .project-image > div:nth-child(2) {
	right: 11em;
}

.project-card:nth-child(2n+1) > .project-image:hover > div:nth-child(2) {
	right: 13em;
}

.project-card:nth-child(2n+1) > .project-image > div:nth-child(3) {
	right: 9em;
}

.project-card:nth-child(2n+1) > .project-image:hover > div:nth-child(3) {
	right: 10em;
}

.project-card:nth-child(2n) > .project-image > div {
	transform: translate(-50%, -50%) rotateZ(60deg);
    transition: left 0.5s;
}

.project-card:nth-child(2n) > .project-image > div:nth-child(2) {
	left: 11em;
}

.project-card:nth-child(2n) > .project-image:hover > div:nth-child(2) {
	left: 13em;
}

.project-card:nth-child(2n) > .project-image > div:nth-child(3) {
	left: 9em;
}

.project-card:nth-child(2n) > .project-image:hover > div:nth-child(3) {
	left: 10em;
}

.project-card > .project-image > img {
	transition: filter 0.5s;
	width: 100%;
	transform: scale(1.3);
}

.project-card > .project-info {
	padding: 2em;
	max-width: 20em;
	position: absolute;
	overflow: hidden;
}

.project-card:nth-child(2n+1) > .project-info {
	text-align: right;
	right: 0;
}

.project-card:nth-child(2n) > .project-info {
	text-align: left;
	left: 0;
}

.project-card > .project-info > h2 {
	margin-top: 0.6em;
	font-weight: 400;
}

.project-card > .project-info > ul {
	list-style: none;
	padding: 0;
}

.project-card > .project-info > ul > li {
	margin-right: 1em;
	margin-bottom: 0.25em;
	display: inline-block;
}

#small-projects {
	margin-top: 8em;
}

#small-projects > h1 {
	font-weight: 400;
	text-align: center;
}

.small-project-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	margin-top: 5em;
	padding-bottom: 8em;
}

.small-project-card {
	display: flex;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 1rem;
	width: 16em;
	height: 22em;
	flex-direction: column;
}

.small-project-image {
	position: relative;
	overflow: hidden;
	margin: 0;
	flex-shrink: 0;
}

.small-project-image > p {
	transition: opacity 0.2s;
	opacity: 0%;
	position: relative;
	z-index: 1;
	float: left;
	padding-top: 4.5em;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	background-color: #21212180;
	color: #ffffffe0;
}

.small-project-image:hover > p { opacity: 100%;}

.small-project-image:focus > p { opacity: 100%;}

.small-project-image > div {
	transition: filter 0.2s;
	display: block;
	z-index: -1;
	background-position: center;
	background-size: cover;
	height: 10rem;
	width: 100%;
}

.small-project-image:hover > div { filter: blur(0.1em); }

.small-project-info {
	position: relative;
	height: 100%;
	padding: 1em 1em 0 1em;
}

.small-project-link {
	position: absolute;
	bottom: 1rem;
	text-decoration: none;
}

.small-project-info > h2 {
	font-weight: 300;
	margin: 0;
}


#about.displayed {
	display: flex;
	flex-flow: column nowrap;
	padding: 1em 0 3em;
}

#about :first-child {
	margin-top: auto;
}

#about :last-child {
	margin-bottom: auto;
}

#about > h1 {
	font-weight: 300;
	text-align: center;
}

#about > h2 {
	font-weight: 300;
	text-align: center;
}

#about > hr {
	width: 50%;
	height: 0.25em;
	margin-bottom: 2em;
	border: none;
	background-color: #333333;
}

#about > p {
	width: 50%;
	margin: 0 auto;
}

@media screen and (max-width: 900px) {

	#toggle-theme {
		right: 1em;
	}

	.page {
		left: 0;
		right: 0;
		top: 5em;
	}

	#home {
		left: 0;
		right: 0;
		top: 5em;
		height: calc(100% - 5em);
		width: 100%;
	}

	#home-text > h1 {
		margin-right: 1em;
	}

	.project-list > .project-card > .project-image {
		left: 0;
		right: 0;
	}

	.project-card > .project-image > img {
		filter: blur(3px) contrast(60%) brightness(75%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.project-card:nth-child(1) > .project-image > img {
		filter: blur(3px) contrast(60%) brightness(75%);
	}

	.project-card:nth-child(2) > .project-image > img {
		filter: blur(3px) contrast(60%) brightness(60%);
	}

	.project-card:nth-child(3) > .project-image > img {
		filter: blur(3px) contrast(60%) brightness(50%);
	}

	.project-card > .project-image > div {
		display: none;
	}

	.project-card > .project-image > p {
		color: #e0e0e0;
	}

	.project-card > .project-info {
		filter: drop-shadow(0px 0 20px #00000080);
		color: white;
	}

	.project-card > .project-info > p {
		filter: drop-shadow(1px 0 2px #00000030);
		color: #e0e0e0;
	}

	#about.displayed {
		display: block;
	}

	#about > p {
		width: calc(100% - 5em);
	}
}
